// :root {
//   --text: #5294a1;
// }

.container {
  padding-top: 1.5em;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10em;
  overflow: hidden;
}

.cont {
  width: 55%;
}

.activeClass {
  display: none;
}

.click {
  transform: translateY(500px);
}

.formBoxLogin {
  width: 100%;
  padding: 40px;
  position: relative;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  backdrop-filter: blur(13px);
}

.formBoxRegister {
  width: 55%;
  padding: 40px;
  position: relative;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  backdrop-filter: blur(13px);
}

.iconClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #5294a1;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #5294a1;
  margin: 30px 0;

  label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #5294a1;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -5px;
  }

  input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #5294a1;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }

  .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #5294a1;
    line-height: 57px;
  }
}

.rememberForgot {
  font-size: .9em;
  color: #5294a1;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;

  label input {
    accent-color: #5294a1;
    margin-right: 3px;
  }

  a {
    color: #adb4b6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {
  width: 100%;
  height: 45px;
  background: #5294a1;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;

  &:hover {
    background: #234147;
    transition: .5s;
  }
}

.loginRegister {
  font-size: .9em;
  color: #5294a1;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;

  p a {
    color: #adb4b6;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}